<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= destino.nombre %> - Detalle del Destino</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <%- include("../partials/header") %>
<section>
  <div class="detalle-destino">
    <h1><%= destino.nombreDestino %></h1>
    <p class="descripcion"><%= destino.descripcion %></p>
    <div class="info-extra">
      
      <div><strong>Ubicación:</strong> <%= destino.pais %></div>
      <div><strong>Precio:</strong> $<%= destino.precio %></div>
      <div><strong>Duración:</strong> <%= destino.duracion %> días</div>
    </div>
     <div class="checklist">
 <% let fechas = destino.fechaviaje.split(','); %>
<h2>Fechas:</h2>
<ul>
  <% for (var i = 0; i < fechas.length; i++) { %>
    <li>
      <input type="checkbox" id="fecha<%= i %>" name="fechasSeleccionadas" value="<%= fechas[i] %>">
      <label for="fecha<%= i %>"><%= fechas[i] %></label>
    </li>
  <% } %>
</ul>

  <a href="/reservar/<%= destino.id %>" class="btn">Reservar Ahora</a>
</div></div>
</section>
<section class="section-img">
   <% let img = destino.img.split(','); %>
  <% for (var i = 0; i < img.length; i++) { %>
  <img  src="/images/<%=img[i]%>">
  <% } %>
</section>
<%- include("../partials/footer") %>
</body>
</html>
