<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= destino.nombre %>Detalle del Destino</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/x-icon" href=" /images/Untitled_logo_1_free-file.ico">
</head>
<body>
  <%- include("../partials/header") %>
<section>
  <div class="detalle-destino">
    <h1><%= destino.nombreDestino %></h1>
    <p class="descripcion"><%= destino.descripcion %></p>
    <div class="info-extra">
      
      <div><strong>Ubicación:</strong> <%= destino.pais %></div>
      <div><strong>Precio:</strong> $<%= destino.precio %></div>
      <div><strong>Duración:</strong> <%= destino.duracion %> días</div>
    </div>
     <div class="checklist">
 <% let fechas = destino.fechaviaje.split(','); %>
<h2>Fechas:</h2>
<ul>
  <% for (var i = 0; i < fechas.length; i++) { %>
    <li>
      <input type="checkbox" id="fecha<%= i %>" name="fechasSeleccionadas" value="<%= fechas[i] %>">
      <label for="fecha<%= i %>"><%= fechas[i] %></label>
    </li>
  <% } %>
</ul>

<button class="buttongrla"><a href="#" 
   class="btn-reservar" 
   data-id="<%= destino.id %>" 
   data-nombre="<%= destino.nombreDestino %>" 
   data-precio="<%= destino.precio %>" 
   data-img="<%= destino.img.split(',')[0] %>">
  <p>Reservar Ahora</p></a>
  </button>
</div></div>
</section>
<script>
  document.querySelectorAll(".btn-reservar").forEach(boton => {
  boton.addEventListener("click", (e) => {
    e.preventDefault();
    const id = boton.dataset.id;
    const nombre = boton.dataset.nombre;
    const precio = boton.dataset.precio;
    const img = boton.dataset.img;

    const checkboxes = document.querySelectorAll('input[name="fechasSeleccionadas"]:checked');
    let fechasSeleccionadas = [];
    checkboxes.forEach(cb => fechasSeleccionadas.push(cb.value));

    if (fechasSeleccionadas.length === 0) {
      alert("Por favor seleccioná al menos una fecha.");
      return;
    }

    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];
    carrito.push({ id, nombre, precio, img, fechas: fechasSeleccionadas });
    localStorage.setItem("carrito", JSON.stringify(carrito));

    window.location.href = "/carrito";
  });
});

</script>
<section class="section-img">
<% let img = destino.img.split(','); %>
  <% for (var i = 0; i < img.length; i++) { %>
  <img  src="/images/<%=img[i]%>">
  <% } %>
</section>
<%- include("../partials/footer") %>
</body>
</html>
