<!DOCTYPE html>
<html>
    <head lang="en">
        <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <head>
        <link href="/css/styles.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body>
        <%- include("../partials/header") %>
<main>
  <div class="subtitulo"><h2>Destinos</h2></div>
  <a href="/agregarDestino" class="agregar"><button>Agregar</button></a>

  <section class="sectionHome">
    <article class="destinos">
      <% nose.forEach((datos) => { %>
        <div class="imgHome">
          
            <img src="/images/<%= datos.img.split(",")[0] %>" alt="Imagen destino">
            <p id="editardestinos">Destino: <%= datos.nombreDestino %></p>
            <p id="editardestinos">Id: <%= datos.id %></p>
       <div class="botonesEditar">
     <form action="/editarDetalle/<%= datos.id %>" style="display:inline;">
       <button class="boton-accion" id="editar">Editar</button>
       </form>

    <form action="/borrarDestino/<%= datos.id %>" method="POST" style="display:inline;">
        <button class="boton-accion" id="borrar" type="submit">Borrar</button>
    </form>
</div>

        </div>
        
      <% }) %>

    </article>

    <article class="otras-cosas">
      <div><p>Otras cosas...</p></div>
    </article>
  </section>
</main>
<%- include("../partials/footer") %>

    </body>
</html>
