<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Inicio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" referrerpolicy="no-referrer" />
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href=" /images/Untitled_logo_1_free-file.ico">
</head>
    <body>
        <%- include("./partials/header") %>
<main>
  <div class="subtitulo"><h2>Destinos</h2></div>

  <section class="sectionHome">
    <article class="destinos">
      <% results.forEach((datos) => {if(datos.cantidadDisponible >= 1){  %>
        <div class="imgHome">
          <a href="/detalleDestino/<%=datos.id %>">
            <img src="/images/<%= datos.img.split(",")[0] %>" alt="Imagen destino">
            <p class="titulo-destino"><%= datos.nombreDestino %></p>
            <p class="titulo-pais"><%= datos.pais %></p>
            <p class="titulo-precio">$<%= datos.precio %></p>
          </a>
        </div>
      <% }}) %>
    </article>

    <article class="otras-cosas">
      <div><p>Somos una agencia de viajes turisticos que reside en Argentina, tenemos destinos turisticos a lo largo de todo el mundo ya sea con un tour completo o solo viaje y estadia.</p></div>
    </article>
  </section>
</main>
<%- include("./partials/footer") %>

    </body>
</html>
